@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@font-face {
  font-family: "android";
  src: url(../fontes/idroid.otf) format(OpenType);
  font-weight: normal;
}
* {
  margin: 0px;
  padding: 0px;
}
:root {
  --cor0: #ebe5c5;
  --cor1: #83e1ad;
  --cor2: #3ddc84;
  --cor3: #2fa866;
  --cor4: #1a5c37;
  --cor5: #063d1e;

  --font-destaque: "Bebas Neue", "cursive";
  --font-padrao: Arial, Helvetica, sans-serif;
  --font-android: "android", "cursive";
}
.externo::after {
  content: "\1F517";
}
body {
  background-color: var(--cor0);
  font-family: var(--font-padrao);
}

header {
  background-image: linear-gradient(to bottom, var(--cor3), var(--cor5) 70%);
  text-align: center;
  color: white;
}
header > p {
  font-family: var(--font-padrao);
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  padding: 10px;
  font-size: 1.1em;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.301);
}
header > h1 {
  font-family: var(--font-destaque);
  color: white;
  padding-top: 30px;
  font-size: 3em;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
}
nav {
  padding-top: 25px;
  padding-bottom: 20px;
  padding-left: 20px;
  background-color: var(--cor5);
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.137);
  position: sticky;
  top: 0;
}
nav > a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px;
  transition-duration: 0.5s;
  border-radius: 5px;
}
nav > a:hover {
  background-color: var(--cor3);
  border-radius: 5px;
  transition-duration: 0.5s;
  color: var(--cor5);
}
main {
  background-color: white;
  min-width: 200px;
  max-width: 1050px;
  margin: auto;
  padding: 20px;
  margin-bottom: 25px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
}
main img {
  width: 100%;
}
.video{
  position: relative;
  padding-bottom: 59%;
  background-color: var(--cor5);
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.233);
}
iframe{
  position: absolute;
  top: 5%;
  right: 5%;
  width: 90%;
  height: 90%;
}
strong {
  color: var(--cor5);
}
main h1,
h2 {
  font-family: var(--font-android);
  color: var(--cor5);
  margin-bottom: 25px;
}
main h1 {
  font-size: 1.6em;
}
main h2 {
  background-image: linear-gradient(to right, var(--cor1), transparent);
  font-size: 1.3em;
  padding-left: 10px;
  color: var(--cor4);
  font-weight: normal;
}
main p {
  text-align: justify;
  margin-bottom: 20px;
  margin-top: 10px;
  text-indent: 35px;
  line-height: 2em;
  font-size: 1em;
}

main a {
  background-color: var(--cor2);
  text-decoration: none;
  color: var(--cor5);
  font-weight: bold;
  padding: 2px;
}
main a:hover {
  background-color: var(--cor1);
  color: var(--cor4);
  text-decoration: underline;
}

.bugdroid {
  margin: auto;
  max-width: 350px;
  display: block;
}

aside {
  background-color: var(--cor2);
  border-radius: 10px;
  margin-top: 25px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.397);
  padding-bottom: 10px;
}
aside > p {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
}

aside h3 {
  background-color: var(--cor4);
  padding: 8px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.397);
  margin-bottom: 15px;
}
aside ul {
  list-style-position: inside;
  list-style-type: "\2714\00A0\00A0";
  columns: 2;
  padding-left: 25px;
  margin-bottom: 25px;
}
aside ul li {
  margin-bottom: 5px;
}
footer {
  background-color: var(--cor5);
  color: white;
}
footer > a {
  color: rgb(226, 226, 226);
}
footer {
  text-align: center;
  padding: 5px;
  font-size: 0.8em;
}

footer > a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
footer > a:hover {
  text-decoration: underline;
  color: var(--cor3);
}
