@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

span#burguer{
    background-color: rgb(17, 17, 17);
    display: block;
    color: white;
    padding: 10px;
    text-align: center;
    transition: all 0.3s;
}
@media screen and (min-width: 600px) {
    span#burguer:hover{
        background-color: white;
        color: black;
        transition: all 0.3s;
        cursor: pointer;
    }  
}
span#burguer:hover{
    cursor: pointer;
}


menu{
    display: none;
}

ul{
  transition: all .5s;
}

header{
    background-color: rgb(161, 161, 161);
}
header > h1{
    text-align: center;
    padding: 20px;
    font-family: serif;
}
header a{
    background-color: rgb(97, 97, 97);
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    border-top: 2px solid rgb(155, 155, 155);
    padding: 10px;
    transition: all 0.3s;
}
@media screen and (min-width: 600px) {
    header a:hover{
        background-color: rgb(45, 45, 45);
        transition: all 0.3s;
        color: darkgray;
    }
}

header a:active{
   background-color: rgb(9, 9, 9);
    transition: all 0.3s;
    color: rgb(255, 255, 255); 
}
main{
    max-width: 80vw;
    background-color: white;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.396);
    border: 1px solid black;
}
article > h2{
    text-align: center;
    margin-bottom: 20px;
}

article > p{
    margin-bottom: 20px;
    text-align: justify;
    text-indent: 20px;
    line-height: 2em;
}
