@charset "UTF-8";
@font-face {
  font-family: "android";
  src: url(../fontes/idroid.otf) format(OpenType);
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
:root {
  --cor-1: #5fea46;
  --cor-2: #25e703;
  --cor-3: #1bb300;
  --cor-4: #29661f;
  --cor-5: #0d5700;
  --font-destaque: "android", cursive;
  --font-padrao: "Open Sans", sans-serif;
}
body {
  background-color: #edf3bb;
}
* {
  margin: 0px;
  padding: 0px;
  font-family: var(--font-padrao);
}
header {
  background-image: linear-gradient(to bottom, var(--cor-3), var(--cor-5));
  height: 200px;
  text-align: center;
  color: rgb(255, 254, 254);
}
header > h1 {
  font-weight: 700;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.342);
  padding: 25px 25px 32px 25px;
}
header p {
  margin: auto;
  padding-bottom: 35px;
  width: 450px;
  font-weight: 600;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.363);
  line-height: 1.5em;
}
nav {
  background-color: var(--cor-5);
  padding-bottom: 18px;
  padding-top: 18px;
  width: 100%;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.123);
}
nav > a {
  color: var(--cor-2);
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition-duration: 0.5s;
  font-weight: 600;
}
nav > a:hover {
  color: var(--cor-5);
  background-color: var(--cor-3);
  border-radius: 5px;
  transition-duration: 0.5s;
}
nav > a:active {
  color: var(--cor-5);
  background-color: var(--cor-3);
  border-radius: 5px;
  transition-duration: 0.5s;
}
main {
  min-width: 200px;
  max-width: 1000px;
  margin: auto;
  background-color: white;
  padding-left: 25px;
  padding-right: 25px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
main h1 {
  padding-top: 25px;
  font-size: 1.5em;
  font-family: var(--font-destaque);
  font-weight: 500;
  color: var(--cor-5);
}
main h2 {
  font-size: 1.2em;
  padding: 4px;
  font-family: var(--font-destaque);
  color: var(--cor-5);
  font-weight: 500;
  background-image: linear-gradient(to right, var(--cor-2), transparent);
}
main p {
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: var(--font-padrao);
  line-height: 2.4em;
  font-size: 1.1em;
  font-weight: 500;
}
img {
  width: 100%;
}
main a {
  background-color: var(--cor-1);
  padding: 5px;
  text-decoration: none;
  color: var(--cor-5);
  font-weight: 500;
}
main a::after {
  content: "\00A0\1F517";
}
main a:hover {
  text-decoration: underline;
  color: var(--cor-3);
  background-color: var(--cor-1);
}
.bugdroid {
  max-width: 350px;
  display: block;
  margin: auto;
}
.video{
  position: relative;
  padding-bottom: 50%;
  background-color: var(--cor-5);
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.20);
}
iframe{
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.520);
}

aside {
  background-color: var(--cor-3);
  padding: 10px;
  border-radius: 10px;
  margin-top: 30px;
}
aside h3 {
  background-color: var(--cor-5);
  color: white;
  margin: -10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
}
ul {
  list-style-position: inside;
  columns: 2;
  line-height: 1.8em;
  list-style-type: "\2714\00A0\00A0";
}
#final {
  padding-bottom: 25px;
}
footer {
  background-color: var(--cor-5);
  padding: 2px;
  text-align: center;
  color: white;
}
footer a {
  color: white;
  font-weight: 600;
}
footer a:hover {
  color: var(--cor-3);
}

